.purchase {

        background-color: #7fb88a; 
        border: none;
        color: #747C92;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: .5rem;
        margin-left: .7rem;
        position:absolute; 
         overflow: hidden;
         cursor: pointer;
      }
.price{
    width:15px;
    color: #747C92;
    padding: 15px 32px;
    font-size: 20px;
    margin-left: 8.2rem; 
    margin-top: .5rem;
    
    bottom: 41.7rem;
    position: static; 

}
