:root {
  --primary-color:#A1E8AF;
  --secondary-color: #fff;
  --accent-color: #372772;
  --primary-text-color: #fff;
  --secondary-text-color: #747C92;  
}

.intro {
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: max-content;
  height: 93.75vh;
}

.navbar {
  background-color: var(--secondary-color);
  height: 6.25vh;
}

.search {
  margin: 25px;
}

.about {
  height: 250px;
  background-color: var(--secondary-color);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  font-family: 'Google Sans', sans-serif;
} 


p, li {
  color: var(--secondary-text-color);
  text-align: left;
}

.col-sm {
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  color: var(--secondary-text-color);
  text-align: left;
}

h2, a {
  font-family: 'Google Sans', sans-serif;
  color: var(--secondary-text-color);
  height: 23px;
  padding-left: 10px;
  padding-right: 10px;
}

h3 {
  display: inline-block;
  width: max-content; height: auto;

  font-family: 'Google Sans', sans-serif;
  color: var(--secondary-text-color);
  font-size: 40px;
  height: 23px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h4 {
  display: inline-block;
  width: auto; height: auto;

  font-family: 'Google Sans', sans-serif;
  color: var(--secondary-text-color);;
  margin: auto;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.brand {
  font-family: 'Google Sans', sans-serif;
}

a:hover {
  color: #aaaaaa;
  text-decoration: none;
}

.box {
  display: table-cell;
  width: 500px;
  margin-top: 10px;
  height: 185px;
  vertical-align: middle;
  text-align: center;
}

.card {
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.featured {
  margin-top: 7.5vw;
  margin-left: 15vw;
}

.feature-info {
  margin-top: 7.5vw;
  margin-left: 3vw;
  height: 30vw;
  width: 20vw;
}

.books {
  text-align: center;
  margin-left: 3vw;
  margin-top: 3vh;
}

.book {
  float: left;
  margin-top: 15vh;
  margin:5vw;
  height: 30vw;
  width: 20vw;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-text-color);;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contents {
  margin: auto;
  padding: 10px;
}

canvas {
  width: 1903px;
}
